services:
  app:
    build: .
    ports:
      - "3000:3000"

    environment:
      - PORT=3000
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - COINMARKETCAP_API_KEY=${COINMARKETCAP_API_KEY}
    restart: unless-stopped
